.section {
  flex: 1;
  background: white;
  display: flex;
  flex-direction: row;
}

.sectionSidebar {
  background: #c7d7e3;
  padding: 35px 25px;
  flex: 2;
}

.sectionBody {
  padding: 30px;
  position: relative;
  overflow: scroll; // display: flex;
}

.formControl {
  // display: block !important;
  margin-bottom: 20px;
}

.formActions {
  margin-top: 20px;
}

.react-dropzone-s3-uploader {
  width: 100% !important;
  margin-bottom: 10px !important;
}
